<div class="wrapper1 w-100" [class.opened]="isVisible">
  <div
    class="nav1 h-100 w-100 d-flex flex-column justify-content-stretch align-items-center"
  >
    <div class="d-flex align-items-center">
      <a href="./new-note" class="d-flex align-items-center">
        <i class="bi bi-sticky-fill"></i>
        <span class="ms-2">ajouter une note</span>
      </a>
    </div>
    <div class="d-flex align-items-center">
      <a href="./new-note" class="d-flex align-items-center">
        <i class="bi bi-stickies-fill"></i>
        <span class="ms-2">Mes Notes</span>
      </a>
    </div>
    <div class="d-flex align-items-center">
      <a href="./new-note" class="d-flex align-items-center">
        <i class="bi bi-stickies"></i>
        <span class="ms-2">Mes Brouillons</span>
      </a>
    </div>
    <div class="d-flex align-items-center">
      <a href="./new-note" class="d-flex align-items-center">
        <i class="bi bi-list-ul"></i>
        <span class="ms-2">Types</span>
      </a>
    </div>
    <div class="d-flex align-items-center">
      <a href="./new-note" class="d-flex align-items-center">
        <i class="bi bi-bookmark"></i>
        <span class="ms-2">Categories</span>
      </a>
    </div>
    <div class="d-flex align-items-center">
      <a href="./new-note" class="d-flex align-items-center">
        <i class="bi bi-person-fill-gear"></i>
        <span class="ms-2">Utilisateurs</span>
      </a>
    </div>
    <div class="d-flex flex-column align-items-center">
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Language
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Model
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
  </div>
  <button (click)="toggleMenu()" class="btn-circular">
    <i
      class="bi"
      [class.bi-chevron-left]="!isChevronRight"
      [class.bi-chevron-right]="isChevronRight"
    ></i>
  </button>
</div>
