<div
  [ngClass]="
    mobile == true
      ? 'container center-element-mobile'
      : 'container center-element '
  "
>
  <main>
    <section class="hero">
      <div class="logo">
        <img src="../../../../assets/images/logostt.png" alt="logostt" />
      </div>
      <h1>SPEECH TO TEXT</h1>
      <h3>Transcrivez, apprenez et organisez : votre passerelle vers la connaissance</h3>
      <p>
        Bienvenue sur notre plateforme, où les paroles se transforment en connaissances. Avec une technologie de synthèse vocale de pointe. Prenez le contrôle de votre parcours d'apprentissage et créez votre profil pour accéder à vos notes enregistrées à tout moment et en tout lieu.
      </p>
      <button>PLUS D'INFOS</button>
    </section>
  </main>
</div>
